{% extends "tasks/base.html" %}
{% block title %}Edit task{% endblock %}
{% block content %}
<style>

.custom-form {
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(180, 193, 203);
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 50%;
    display: grid;
    justify-items: flex-start;
    align-content: center;
  }
  .but3
    {
      height: 55px;
      border: 2px solid black;
      padding: 10px 25px;
      border-radius: 5px;
      color: black;
      font-size: 20px;
      margin-left: 90px;
    }
    .but3:hover
    {
      color: white;
      background-color: black;
      transition: all 1s;
    }
  .submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  </style>
<h1>Edit task</h1>

<form action="" method="post" class="custom_form">
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" value="Update" class="but3">
</form>
{% endblock content %}
